# Dependencies
frontend/node_modules/
backend/node_modules/

# Environment files
frontend/.env


# Build folders
frontend/build/
frontend/dist/
backend/dist/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Cache
.cache/